{% extends "students/base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تفاصيل الطالب</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container mt-4">
    <div class="row">
        <!-- صورة الطالب -->
        <div class="col-md-4 text-center">


            {% if student.image and student.image.url %}
                <img src="{{ student.image.url }}" class="rounded-circle img-fluid" alt="صورة الطالب" style="width: 150px; height: 150px;">
            {% else %}
                <img src="{% static 'students/default.png' %}" class="rounded-circle img-fluid" alt="صورة افتراضية" style="width: 150px; height: 150px;">
            {% endif %}
        
            

            <h6 class="st-na">
                <img src="{% static 'flags/' %}{{ student.nationality.code|lower }}.gif" alt="{{ student.nationality.name }}">
                {{ student.nationality.name }}
            </h6>
            <h5 class="mt-5 st-name">{{ student.first_name }}</h5>

             <!-- أزرار تعديل وحذف الطالب -->
            <div class="student-actions">
                <a href="{% url 'student_edit' student.id %}" class="btn btn-primary">
                    <i class="fas fa-edit"></i>
                </a>
                
                <form action="{% url 'delete_student' student.id %}" method="post" class="delete-form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" onclick="return confirm('هل أنت متأكد من حذف هذا الطالب؟');">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </div>
            <div class="container mt-4">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title">إدارة التوجيهات والمراسلات</h5>
                    </div>


                    
                    <div class="card-body">
                        <!-- القائمة المنسدلة -->
                        <div class="form-group">
                            <label for="actionDropdown" class="font-weight-bold">اختر إجراءً:</label>
                            <select class="form-control" id="actionDropdown">
                                <option value="">اختر إجراءً...</option>
                                <option value="passports">إلى الجوازات</option>
                                <option value="security">إلى الأمن العام</option>
                                <option value="students_affairs">إلى شؤون الطلاب</option>
                            </select>
                        </div>
            
                        <!-- زر تنفيذ الإجراء -->
                        <button class="btn btn-success btn-block mt-3" onclick="performAction()">
                            <i class="fas fa-play-circle"></i> تنفيذ الإجراء
                        </button>
                    </div>
                </div>
            </div>
            
            <script>
                function performAction() {
                    const selectedAction = document.getElementById('actionDropdown').value;
                    const studentId = {{ student.id }};
            
                    if (!selectedAction) {
                        alert('الرجاء اختيار إجراء.');
                        return;
                    }
            
                    let url;
                    switch (selectedAction) {
                        case 'passports':
                            url = `/student/${studentId}/to_passports/`;
                            break;
                        case 'security':
                            url = `/student/${studentId}/to_security/`;
                            break;
                        case 'students_affairs':
                            url = `/student/${studentId}/to_students_affairs/`;
                            break;
                        default:
                            alert('إجراء غير معروف.');
                            return;
                    }
            
                    // توجيه المستخدم إلى الرابط المحدد
                    window.location.href = url;
                }
            </script>



        </div>
        
        <div class="col-md-8">
            <!-- التبويبات -->
            <ul class="nav nav-tabs" id="studentTabs" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active" id="personal-tab" data-bs-toggle="tab" data-bs-target="#personal" type="button">المعلومات الشخصية</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="passport-tab" data-bs-toggle="tab" data-bs-target="#passport" type="button">الجوازات والإقامة</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="services-tab" data-bs-toggle="tab" data-bs-target="#services" type="button">المعاملات</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="companion-tab" data-bs-toggle="tab" data-bs-target="#companion" type="button">المرافقين</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="note-tab" data-bs-toggle="tab" data-bs-target="#note" type="button">سجل الملاحظات</button>
                </li>

            </ul>

            <div class="tab-content mt-3">
                <!-- المعلومات الشخصية -->
                <div class="tab-pane fade show active" id="personal">
                    <p><strong>العمر : </strong> {{ student.birth_date|timesince }}</p>
                    <p><strong>الجنس : </strong> {{ student.get_gender_display }}</p>
                    <p><strong>اللقب :  </strong> {{ student.last_name }}</p>
                    <p><strong>رقم الهاتف : </strong> {{ student.phone_number }}</p>
                    <p><strong> المهنة : </strong> {{ student.job }}</p>
                    <p><strong>تاريخ الميلاد : </strong> {{ student.birth_date }}</p>
                    <p><strong> الحالة الإجتماعية : </strong> {{ student.get_marital_status_display }}</p>
                    
                </div>

                <!-- الجوازات والإقامة -->
                <div class="tab-pane fade" id="passport">
                    <p><strong>رقم الجواز :</strong> {{ student.passport_number }}</p>
                    <p><strong>الرقم المرجعي :</strong> {{ student.visa_number }}</p>
                    <p><strong>مكان الإصدار : </strong> {{ student.place_of_issue }}</p>
                    <p><strong> تاريخ إصدار الجواز  : </strong> {{ student.date_of_issued }}</p>
                    <p><strong> تاريخ إنتهاء الجواز  : </strong> {{ student.end_date }}</p>
                    <p><strong> رقم التسجيل : </strong> {{ student.registration_number }}</p>
                    <p><strong>الغرض : </strong> {{ student.purpose }}</p>
                    <p><strong>مكان الإصدار : </strong> {{ student.place_of_issue }}</p>
                    <p><strong>مكان التسجيل : </strong> {{ student.registration_place }}</p>
                    <p><strong>رقم التأشيرة :</strong> {{ student.visa_number }}</p>
                    <p><strong>إسم الميناء</strong> {{ student.port_name }}</p>
                    <p><strong>تاريخ التسجيل : </strong> {{ student.date_of_registration }}</p>
                    <p><strong>مكان إصدار الإقامة :</strong> {{ student.place_of_issued_residence }}</p>
                    <p><strong>رقم الإقامة :</strong> {{ student.residence_number }}</p>
                    <p><strong>تاريخ إصدار الإقامة :</strong> {{ student.residence_issued_date }}</p>
                    <p><strong>تاريخ إنتهاء الإقامة :</strong> {{ student.residence_end_date }}</p>
                </div>

                <!-- المعاملات -->
                <div class="tab-pane fade" id="services">
                    <p><strong>تاريخ الدخول :</strong> {{ student.entry_date }}</p>
                    <p><strong>تاريخ المغادرة :</strong> {{ student.end_date }}</p>
                    <p><strong>تاريخ التسجيل :</strong> {{ student.registration_date }}</p>
                    <p><strong>تاريخ إنتهاء التسجيل :</strong> {{ student.end_registration_date }}</p>
                    <p><strong>نوع المعاملة :</strong> {{ student.type_of_services }}</p>
                    <p><strong>الجــهـــة :</strong> {{ student.issuing_authority }}</p>
                </div>

                <!-- المرافقين -->
                <div class="tab-pane fade" id="companion">
                    <p><strong>إسم المرافق :</strong> {{ student.companion_name }}</p>
                    <p><strong>جنسيتـه :</strong> {{ student.companion_nationality }}</p>
                    <p><strong>صلة القرابة :</strong> {{ student.companion_relationship }}</p>
                    <p><strong>رقم جوازه :</strong> {{ student.companion_passport_number }}</p>
                    <p><strong>رقم إقامته :</strong> {{ student.companion_residence_number }}</p>
                    <p><strong>تاريخ إنتهاء إقامته :</strong> {{ student.companion_residence_end_date }}</p>
                </div>

                 <!-- سجل الملاحزات -->
                 <div class="tab-pane fade" id="note">
                    <p><strong>الملاحظات :</strong> {{ student.note }}</p>
                </div>

                
            </div>
        </div>
    </div>
    </div>
</body>
{% endblock %}
