/* تنسيقات عامة */
body {
    font-family: 'Tajawal', sans-serif;  /* استخدام خط عربي */
    text-align: right;  /* محاذاة النص لليمين */
}

/* تحسين شريط التنقل */
.navbar-nav {
    margin-right: auto;  /* محاذاة العناصر لليمين */
}

/* تحسين الجداول */
table {
    direction: rtl;  /* اتجاه الجداول من اليمين لليسار */
    text-align: right;  /* محاذاة النص داخل الجداول */
}

/* تحسين النماذج */
.form-control {
    text-align: right;  /* محاذاة النص في حقول الإدخال */
}

h6.st-na {
    margin-top: 16px;
}


