/* تنسيقات عامة */
body {
    font-family: 'Tajawal', sans-serif;  /* استخدام خط عربي */
    text-align: right;  /* محاذاة النص لليمين */
}

/* تحسين شريط التنقل */
.navbar-nav {
    margin-right: auto;  /* محاذاة العناصر لليمين */
}

/* تحسين الجداول */
table {
    direction: rtl;  /* اتجاه الجداول من اليمين لليسار */
    text-align: right;  /* محاذاة النص داخل الجداول */
}

/* تحسين النماذج */
.form-control {
    text-align: right;  /* محاذاة النص في حقول الإدخال */
}


/*الصفحية الرئيسية تحديد حجم الرسوم البيانية */
#genderChart, #nationalityChart {
    width: 100% !important;  /* العرض الكامل للعنصر الأب */
    height: 300px !important;  /* ارتفاع ثابت */
}

/* تحسين تنسيق الصفحة */
.card {
    margin-bottom: 20px;  /* تباعد بين البطاقات */
}

.card-header {
    font-size: 1.2em;  /* حجم خط أكبر لعناوين البطاقات */
    font-weight: bold;  /* نص عريض */
}

.card-body {
    padding: 20px;  /* تباعد داخلي */
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    margin-bottom: -15px !important;
}

/* صفحة إظهار البيانات الشخصية للطالب */
h6.st-na {
    margin-top: 16px;
}

.mt-5.st-name {
    margin-top: 10px !important;
}

.student-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

a.btn.btn-primary, .btn.btn-danger {
    font-size: 12px;
    padding: 6px;
}


/* صفحة إظهار بيانات الطلاب */
img.img-thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
}



